[submodule ".config/awesome/apw"]
	path = .config/awesome/apw
	url = git@github.com:mokasin/apw

[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = git@github.com:lcpz/awesome-freedesktop

[submodule ".config/awesome/awesompd"]
	path = .config/awesome/awesompd
	url = git@github.com:alexander-yakushev/awesompd

[submodule ".config/awesome/launcher"]
	path = .config/awesome/launcher
	url = git@github.com:k15uk/launcher

[submodule ".config/awesome/brightness"]
	path = .config/awesome/brightness
	url = git@github.com:k15uk/brightness

[submodule ".config/awesome/widget"]
	path = .config/awesome/widget
	url = git@github.com:k15uk/widget

[submodule ".config/awesome/wallpaper"]
	path = .config/awesome/wallpaper
	url = git@github.com:k15uk/wallpaper
